#header {
    @include position-fixed;
    z-index: 10000;             // 쌓임 순서 숫자가 높을 수록 위에 배치치
}
.header__inner {
    @include flex-between;
    background-color: rgba(116, 99, 99, 0.1);
    backdrop-filter: blur(15px);                    // 배경에 블러 효과
    padding: 1rem;                                  // 내부 여백 내용과 요소 간의 간격을 설정   

    .header__logo {
        font-size: 0.9rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        
        // em 태그 안의 스타일
        em {
            font-size: 10px;
            display: block;
            color: var(--black200);
        }
    }
    /* 메뉴 항목은 li와 a 태그로 구성되며 a 태그의 하위 요소에 밑줄 효과를 설정 */
    /* &::before로 링크에 밑줄을 가상 요소로 추가하고 hover 상태에서는 밑줄이 표시되도록 transform을 사용용 */
    .header__nav {
        // 화면 너비가 800px 이하일 때 적용되는 스타일
        @media (max-width: 800px) {
            // 기본적으로 네비게이션 메뉴를 숨김김
            display: none;
            
            // .show 클래스가 추가되면 display: block; 으로 메뉴를 보여주며 그 안의 ul 리스트와 링크들을 스타일링함.
            &.show {
                display: block;

                ul {
                    display: block;
                    position: absolute;
                    right: ();
                    top: 68px;
                    background-color: rgba(116, 99, 99, 0.1);
                    backdrop-filter: blur(15px);
                    z-index: 10000;
                    min-width: 150px;
                    padding: 20px 0;

                    li {
                        display: block;
                        text-align: right;

                        a {
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
            }
            &.show + .header__nav__mobile span::before {
                width: 20px;
            }
            &.show + .header__nav__mobile span::after {
                width: 20px;
            }
        }

        li {
            display: inline;

            a {
                text-transform: uppercase;
                font-size: 14px;
                padding: 14px;
                position: relative;
    
                &::before {
                    content: '';
                    width: calc(100% - 28px);
                    height: 1px;
                    background-color: var(--black);
                    position: absolute;
                    left: 14px;
                    bottom: 10px;
                    transform: scaleX(0);
                    transition: all 0.3s;
                }
                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    .header__nav__mobile {
        // 모바일 화면에서 기본적으로 메뉴 버튼을 숨김
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;

        @media (max-width: 800px) {
            display: block;
        }
        
        // 3개의 가로선을 만듬
        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--black);
            margin-top: 19px;
            position: relative;

            &::before {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                right: 0;
                top: 6px;
                transition: width 0.3s;
            }
            &::after {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                left: 0;
                bottom: 6px;
                transition: width 0.3s;
            }
        }
    }
}