#port {
    width: 100%;
    margin-top: 30vh;
    // overflow: hidden;
}
.port__inner {
    padding: 16px;

    .port__title {
        width: 100%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.2;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--white);
        border-bottom: 0.4vw solid var(--white);
        margin-bottom: 16px;
        text-indent: -0.26vw;

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
        }
    }
    .port__wrap {
        display: flex;
        flex-wrap: wrap;        // 자식 요소들이 부모 영역을 벗어나면 자동으로 줄 바꿈 되도록 함.
        width: 7000px;

        .port__item {
            width: 500px;
            height: 70vh;
            background-color: var(--subBg100);
            padding: 2.5rem;
            margin-right: 20px;
    
            &.p1 {
                background-color: var(--subBg100);
            }
            &.p2 {
                background-color: var(--subBg200);
            }
            &.p3 {
                background-color: var(--subBg300);
            }
            &.p4 {
                background-color: var(--subBg400);
            }
            &.p5 {
                background-color: var(--subBg100);
            }
            .num {
                font-size: 2rem;
                font-family: var(--mainNum-font);
                color: var(--white);
            }
            .title {
                font-size: 1.5rem;
                text-align: center;
                padding: 0.8rem 0;
                font-weight: 700;
                color: var(--white);
                border-bottom: 2px solid var(--white);
                margin-bottom: 1rem;
            }
            .desc {
                font-size: 1rem;
                color: var(--white);
            }
            .site {
                border: 1px solid var(--white);
                color: var(--white);
                display: block;
                text-align: center;
                padding: 0.625rem 1.5rem;
                margin-top: 1.5rem;
                transition: all 0.2s;
    
                &:hover {
                    background-color: var(--white);
                    color: var(--black100);
                }
            }
        }
    }
}